.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SerilogAppInsights/v16/.suo
SerilogAppInsights/appsettings.Development.json
SerilogAppInsights/.vs/SerilogAppInsights/v16/.suo
SerilogAppInsights/.vs/SerilogAppInsights/v16/Server/sqlite3/db.lock
SerilogAppInsights/.vs/SerilogAppInsights/v16/Server/sqlite3/storage.ide
SerilogAppInsights/.vs/SerilogAppInsights/v16/Server/sqlite3/storage.ide-shm
SerilogAppInsights/.vs/SerilogAppInsights/v16/Server/sqlite3/storage.ide-wal
SerilogAppInsights/bin/Debug/netcoreapp3.0/Autofac.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Autofac.Extensions.DependencyInjection.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Microsoft.ApplicationInsights.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.AspNetCore.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Enrichers.Environment.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Enrichers.Thread.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Extensions.Hosting.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Extensions.Logging.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Formatting.Compact.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Settings.Configuration.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Sinks.ApplicationInsights.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Sinks.Console.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Sinks.Debug.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/Serilog.Sinks.File.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.deps.json
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.dll
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.exe
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.pdb
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.runtimeconfig.dev.json
SerilogAppInsights/bin/Debug/netcoreapp3.0/SerilogAppInsights.runtimeconfig.json
SerilogAppInsights/obj/SerilogAppInsights.csproj.nuget.cache
SerilogAppInsights/obj/SerilogAppInsights.csproj.nuget.dgspec.json
SerilogAppInsights/obj/SerilogAppInsights.csproj.nuget.g.props
SerilogAppInsights/obj/SerilogAppInsights.csproj.nuget.g.targets
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.AssemblyInfoInputs.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.assets.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.csproj.CopyComplete
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.csproj.FileListAbsolute.txt
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.dll
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.exe
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.genruntimeconfig.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.MvcApplicationPartsAssemblyInfo.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.pdb
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.RazorTargetAssemblyInfo.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/staticwebassets/SerilogAppInsights.StaticWebAssets.Manifest.cache
SerilogAppInsights/obj/Debug/netcoreapp3.0/staticwebassets/SerilogAppInsights.StaticWebAssets.xml
SerilogAppInsights/obj/project.assets.json
SerilogAppInsights/obj/Debug/netcoreapp3.0/SerilogAppInsights.AssemblyInfo.cs
SerilogAppInsights/Logs/Logs20200529.txt
